<!-- Página para hacer login-->
<form class="min-h-screen bg-base-200 flex items-center justify-center" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="card w-96 bg-base-100 shadow-xl {{ animation() }}">
        <div class="card-body">
            <h2 class="card-title justify-center">Iniciar sesión</h2>

                <div class="form-control">
                    <label class="label">
                    <span class="label-text">Nombre de usuario</span>
                    </label>
                    <input type="text" placeholder="Nombre de usuario" name="username" class="input input-bordered" required
                    formControlName="username"/>
                </div>

                <div class="form-control">
                    <label class="label">
                      <span class="label-text">Contraseña</span>
                    </label>
                    <input type="password" placeholder="••••••••" name="password" class="input input-bordered" required
                    formControlName="password"/>
                </div>

                <div class="form-control mt-6">
                    <button class="btn btn-primary w-full">Entrar</button>
                </div>

                @if (hasError()){
                <div role="alert" class="alert alert-error">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
                         <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    <span>Credenciales incorrectas.</span>
                </div>
                }

                <h3 class="flex items-center justify-center hover:text-accent cursor-pointer" routerLink="/register">
                    ¿Aún no tienes cuenta?
                  </h3>

        </div>
    </div>
</form>
