<!--Estructura para la página principal-->
@if (authService.authStatus() == 'not-authenticated') {

  <div class="min-h-screen bg-base-200 flex">
    <div class="animate__animated animate__fadeIn animate__delay-1s flex flex-col items-center justify-center w-full">
      <span class="flex items-center justify-center text-4xl font-bold">No has iniciado sesión 😭</span>
      <span routerLink="/login" class="flex items-center justify-center text-xl hover:text-accent cursor-pointer my-2">Haz click aquí para entrar</span>
    </div>
  </div>
<!---->
}@else if (authService.authStatus() == 'authenticated') {

  <div class="min-h-screen bg-base-200 pt-16 px-4">

    @if( !movieService.getQuery() ){

      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 p-4">

          @for(movie of movieService.showingMovies() ; track movie.id) {
            <movie-card [movie]="movie" class="animate__animated animate__backInUp"></movie-card>
          }

      </div>
    }
    <!--  -->
    @else {

      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 p-4">

        @if(movieResource.hasValue()){
          @for(movie of movieResource.value() ; track movie.id) {
            <movie-card [movie]="movie" class="animate__animated animate__backInUp"></movie-card>
          }
        }

      </div>

    }
  </div>
}
